@page
@model VitecProjekt.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class=" text-center">
    <form method="post">
        <div class="container">
            <label for="username"> <b>Username</b> </label> <br>
            <input type="text" placeholder="Brugernavn" name="username" />
            <br>
            <label for="email"> <b>Email</b> </label> <br>
            <input type="email" name="email" />
            <br>
            <label for="password"> <b>Password</b> </label> <br>
            <input type="password" name="password" />
            <br>
            <input type="submit" name="submit" />
        </div>
    </form>
</div>